doctype html
html(lang='en')
head
  meta(charset='utf-8')
  title handshake-example-nodejs
  script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  
  body
    block body
